name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm run build
          npx semantic-release
      - name: Package Version Patch
        # if: startsWith(git log -1 --pretty=format:%s, 'fix(')
        # if: ${{ startsWith('Hello world', 'He') }}
        # if: ${{ startsWith('git log -1 --pretty=format:%s', 'fix') }}
        # if: github.repository == 'azabraao/react-draggable-bottom-sheet'

        # if: github.repository == 'azabraao/react-draggable-bottom-sheet'
        # run: echo ${{ github.event.head_commit.message }}

        # if: startsWith(github.event.head_commit.message == ''
        # if: startsWith(github.event.head_commit.message, '')
        if: startsWith(github.event.head_commit.message, 'fix')
        run: |
          npm version patch
          git push
          echo 'job finished'

      # - name: Package Version Minor
      #   if: startsWith(git log -1 --pretty=format:%s, 'feat(')
      #     run: |
      #       npm version minor
      #       git push
  #         npx semantic-release
